---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-list-post">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.excerpt }}</p>
        <p class="post-list-post-tags">
          {% if post.tags.size > 0 %}
            {% for tag in post.tags %}
              <a href="/tag/{{tag}}" class="button">{{tag}}</a>
            {% endfor %}
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>

</div>
