<header class="site-header">

  <nav class="site-nav cf">
    <div class="site-title-wrapper">
      <a class="site-title" href="/">Neugierde</a>
    </div>

    <div class="site-pages">
      {% for page in site.pages %}
        {% if page.title %}
          {% if page.in_header%}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>

    <div class="site-search">
      <form>
        <input type="text" />
        <button type="submit" value="" class="fa fa-search site-search-submit"></button>
      </form>
    </div>
  </nav>

</header>
